# Database
DATABASE_URL=postgresql://REDACTED_DB_USER:REDACTED_DB_PASSWORD@db:5432/REDACTED_DB_NAME?schema=public

# NextAuth
NEXTAUTH_URL=https://radiotochka.nologs.site
NEXTAUTH_SECRET=your-secret-here

# Email (Resend)
RESEND_API_KEY=your-resend-api-key

# Yandex Metrika
YANDEX_METRIKA_ID=your-counter-id